source https://www.nuget.org/api/v2
nuget Chiron
nuget FSharp.Data
nuget FSharpx.Extras

group Build
source https://www.nuget.org/api/v2
nuget xunit.runner.console
nuget FAKE

group Test
source https://www.nuget.org/api/v2
nuget FsUnit
nuget FsUnit.Xunit